<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8" />
      <link href = "css/styles.css" rel = "stylesheet"/>
      <title>Spring Boot Application</title>      
   </head>
   <body>
	  <h5>Welcome to Thymeleaf and Spring Boot</h5>
      
      <h5>Others tutorials about spring boot</h5>
      
	      <ul>
			<li type="square"><a href="http://blog.hadsonpar.com/2023/01/que-es-spring-boot.html" target="_blank">Qué es Spring Boot</a></li>
			<li type="circle"><a href="http://blog.hadsonpar.com/2023/01/spring-boot-creando-la-aplicacion-hola.html" target="_blank">Creando una aplicación de "Hola mundo" paso a paso con Spring Boot</a></li>			
			<li type="disc"><a href="http://blog.hadsonpar.com/2023/01/estructura-de-un-proyecto-de-spring-boot.html" target="_blank">Estructura de un proyecto de Spring Boot</a></li>
		</ul>

   </body>
</html>